.sidebar {
  color: var(--color-text);
  padding: var(--spacing-md);
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 35rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: none;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  font-size: var(--font-size-md);
  text-decoration: none;
  /* border-radius: var(--border-radius-base); */
  background-color: var(--color-main-100);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover {
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
}

.active {
  background-color: var(--color-main-500);
  color: white;
}

.icon {
  font-size: 1.8rem;
  color: var(--main-color);
}

.active .icon {
  color: white;
}

.text {
  display: inline-block;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
